/*nav related style*/
/*Nav{
   font-size: 30px; 
    display: flex;
    margin-top: 100px;
    margin-right: 972px;
    margin-left: 240px;
    /*margime: 197px 972px 365px 240px;*/
#first-part{
    margin: 100px;
}
.use-of-flower{
    font-size: 60px;
}
.Shop{
    padding: 20px 43px;
    background-color: #E55473;
    padding: 5px 10px;
}
header{
    display: flex;
    padding: 60px 10px 0 100px;
}
 header img{
   padding-left: 200px;
  width: 600px;
  height: 600px;
  margin-bottom: 0;
    justify-content: space-between;
}
header{
    background-color:  rgba(211, 149, 162, 0.1);
}

/*second part style*/
.second-part{
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
#second-paragraph{
    text-align: center;
}
.Pink{
    background-color: #ebdcdf;
    width: 310px;
    height: 428px;
    margin: relative;
    border-radius: 50% 50% 0 0;
    padding: 30px 20px 0;
}
.Flower{
    background-color: rgb(186, 199, 194);
    width: 310px;
    height: 428px;
    margin: relative;
    border-radius: 50% 50% 0 0;
    padding: 30px 20px 0;
}
.Tree{
    background-color: rgb(207, 207, 226);
    width: 310px;
    height: 428px;
    margin: relative;
    border-radius: 50% 50% 0 0;
    padding: 30px 20px 0;
}
.three-images p{
    text-align: center;
    text-decoration: underline;
}
.three-images {
    display: flex;
    gap: 20px;
    justify-content: center;
}
#third-part img{
    width: 50px;
    height: 50px;
    margin:0 auto;
    }
#third-part{
    display: flex;
    gap: 90px;
    justify-content: center;
    padding: 50px;
    text-align: center;
    background-color: rgba(39, 39, 39, 0.05);
    border: 70px;
    margin: 30px 200px;
    
}
.three-images p{
 text-align: center;
 text-decoration: underline;
}
#offer{
    text-align: center;
    background-color: rgb(245, 241, 242);
    padding: 20px 20px;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sign-in{
    background-color: #E55473;
}
.discount{
    text-align: center;

    
}
#offer .flower-vase{
    align-items: center;
    margin: 80px 90px 30px 150px;
}
.insta{
    text-align: center
    
}
.third-paragraph{
    text-align: center;
}
.pink-rose{
    height: 300px;
}
.pink-roses{
    display: flex;
    gap: 15px;
    justify-content: center;    
    padding: 5px;
}
.input-field{
    background-image: url(Flower-Asset/Rectangle\ 9.png );
    padding: 90px 200px;
    text-align: center;
    margin: 0px auto;
    
}
.input-field .email{
    width: 500px;
    height: 50px;
    border-radius: 8px;
    padding-left: 20px;
    border: none;
    margin: auto;
}
button{
    background-color: #E55473;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: white;
    border: none;
}
/* .input-field .input{ */
    /* width: 700px; */
    /* height: 64px; */
#deals-id{
    text-align: center;
}
.deal{
    font-size: 40px;
    font-style: normal;
}
.flower{
    color: #E55473;
}
.container{
    text-align: center;
    color: white;
    font-size: 10px;
    background-color: black;
    padding: 20px;
    top: 50%;
    left: 50%
}
.title{
    font-family: Lato;
font-size: 48px;
}
.content{
    font-size: 18px;
}
.web-address{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
}
.email{
    
}
