/*nav related style*/
/*Nav{
   font-size: 30px; 
    display: flex;
    margin-top: 100px;
    margin-right: 972px;
    margin-left: 240px;
    /*margime: 197px 972px 365px 240px;*/
#first-part{
    margin: 100px;
}
.use-of-flower{
    font-size: 60px;
}
.Shop{
    margin: 32px;
    padding: 20px 43px;
}
header{
    display: flex;
    padding: 60px 10px 0 100px;
}
 header img{
   padding-left: 200px;
  width: 600px;
  height: 600px;
  margin-bottom: 0;
    justify-content: space-between;
}
header{
    background-color:  rgba(229, 84, 115, 0.10);
}
button{
    background-color: #E55473;
    padding: 10px 20px;
}
/*second part style*/
.second-part{
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
#second-paragraph{
    text-align: center;
}
.Pink{
    background-color: #d58597;
    width: 310px;
    height: 428px;
    margin: relative;
    border-radius: 50% 50% 0 0;
    padding: 30px 20px 0;
}
.Flower{
    background-color: rgb(158, 208, 191);
    width: 310px;
    height: 428px;
    margin: relative;
    border-radius: 50% 50% 0 0;
    padding: 30px 20px 0;
}
.Tree{
    background-color: rgb(203, 203, 212);
    width: 310px;
    height: 428px;
    margin: relative;
    border-radius: 50% 50% 0 0;
    padding: 30px 20px 0;
}
.three-images p{
    text-align: center;
    text-decoration: underline;
}
.three-images {
    display: flex;
    gap: 20px;
    justify-content: center;
}
#third-part img{
    width: 50px;
    height: 50px;
    margin:0 auto;
    }
#third-part{
    display: flex;
    gap: 90px;
    justify-content: center;
    padding: 40px;
    text-align: center;
}
.three-images p{
 text-align: center;
 text-decoration: underline;
}


