/*nav related style*/
Nav{
   font-size: 30px; 
    display: flex;
    margin-top: 100px;
    margin-right: 972px;
    margin-left: 240px;
   
    /*margime: 197px 972px 365px 240px;*/
    
}
#first-part{
    margin: 100px;
}

.Shop{
    margin: 32px;
    padding: 20px 43px;

}
header{
    display: flex;
}
img{
   
  width: 400px;
  height: 400px;
  
    justify-content: space-between;
}
header{
    background-color:  rgba(229, 84, 115, 0.10);

}
button{
    background-color: #E55473;
    padding: 43px 20;
}
/*second part style*/
.second-part{
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
#second-paragraph{
    text-align: center;
   
}
#Pink{
    margin: 20px center;
}
.second-1{
    background-color: rgb(237, 191, 199);
    width: 310px;
    height: 428px;
    margin: relative;
    border-radius: 50% 50% 0 0;
    padding: 30px 20px 0;
    

}

.third{
   padding: 40px;
   width: 20px;
    height: 20px;
    display: inline;
    justify-content: space-between;
}
.three-images{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.three-images p{
 text-align: center;
}

/*#pink{
    display: inline;
    margin: 0;
}